.contact-page{
  .content-text{
    margin-left: 15rem;
    margin-top: 10rem;
  }
}

.contact{
  margin-left: 15rem;
  margin-top: 5rem;
  max-width: 100rem;
  .flex{
    display: flex;
    div{
      flex-grow: 1;
      padding: 1rem;
    }
  }

  .subject, .message{
    padding: 1rem;
  }

  input{
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea{
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }
  .flat-button{
    margin: 1.2rem;
    width: 10rem;
    height: 5rem;
    background: #4E9CAF;
    padding: 10px 10px;
    text-align: center;
    border-radius: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 400ms ease;
    color: white;
    float: right;
    cursor: pointer;

    &:hover{
      background: transparent;
      border: 1px solid #ffd700;
    }
      
  }

}

.contacto-form {

    ul {
      padding: 0;
      max-width: 100rem;
      margin-left: 15rem;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        //display: absolute;
        clear: both;
        // position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }

    input[type='text'], 
    input[type='email']{
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    textarea{
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button{
      display: absolute;
      margin: 1.2rem;
      width: 6rem;
      height: 5rem;
      background: #4E9CAF;
      padding: 10px 10px;
      text-align: center;
      border-radius: 1rem;
      font-weight: bold;
      text-decoration: none;
      transition: all 400ms ease;
      color: white;
      float: right;
      //border-radius: 4px;
      //letter-spacing: 3px;
         
    }
    .flat-button:hover{
      background: transparent;
      border: 1px solid #ffd700;
    }
}


@media (max-width: 1200px){

  .contact-page{
    .content-text{
      margin-left: 8rem;
    }
  }

  .contact{
    margin-left: 8rem;
  }
}